.food-listing{
    position: relative;
    padding-left: 100px;
}
.image-box {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.5rem; /* For rounded corners */
    border-top-right-radius: 0.5rem; /* For rounded corners */
}
.button-save {
    color: black;
    background-color: #6056e7;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.food-listing {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-listing form div {
    margin-bottom: 15px;
}

.food-listing label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.food-listing input[type="text"],
.food-listing input[type="file"],
.food-listing input[type="number"],
.food-listing textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.food-listing button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.food-listing button:hover {
    background-color: #45a049;
}

.food-listing textarea {
    resize: vertical;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

img {
    max-width: 100px;
    height: auto;
}